
  html, body {
    user-select: none;
  }

  @font-face {
    font-family: 'Peralta';
    src: url('../fonts/Peralta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Swanky';
    src: url('../fonts/FontdinerSwanky.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .font-peralta {
    font-family: 'Peralta', sans-serif;
  }

  .font-pressstart {
    font-family: 'PressStart2P', sans-serif;
  }

  .font-swanky {
    font-family: 'Swanky', sans-serif;
  }

  .zentriert {
    text-align: center;
  }

  /* Embla Container: 75% der Viewport-Breite + zentriert */
  .embla {
    width: 75vw;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
    gap: 20px; /* Abstand zwischen Slides */

  }
  
  .embla__slide {
    flex: 0 0 40%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 0;
  }

  .embla__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .embla__slide img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
    display: block;
    border-radius: 15px;
  }

  .embla__slide.is-selected {
    /*filter: brightness(1.2); */
    border: 6px solid #f564a3;
    border-radius: 20px;
  }

  .embla__slide:first-of-type {
    margin-left: 20px;
  }
  
  .embla__slide.is-clone:first-of-type {
    margin-left: 20px;
  } 

  .slide-caption {
    display: none
  }

  .display-nothing {
    display: none;
  }

  .blue_background {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #56d2e0, #0180ba);
  }

  .rr_background {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom,#ffcde1, #ffdb79);
  }

  .logo_background {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('../img/RetroRush_leer.png');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  }

  .caption-display {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 3.5vw;
    color: #f564a3;
    text-shadow:
      -2px -2px 0 #ffdb79,
      2px -2px 0 #ffdb79,
      -2px  2px 0 #ffdb79,
      2px  2px 0 #ffdb79;
    font-weight: bold; /* optional für stärkeren Effekt */

  }

  .rr_button {
    background-color: #0180ba;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  .rr_button:hover {
    background-color: #56d2e0;
  }

  #disclaimer {
    line-height: 1.2;
  }

.highlight-text {
  color: #f564a3;
  text-shadow:
    -2px -2px 0 #ffdb79,
     2px -2px 0 #ffdb79,
    -2px  2px 0 #ffdb79,
     2px  2px 0 #ffdb79;
  font-weight: bold; /* optional für stärkeren Effekt */
}
