
  html, body {
    user-select: none;
  }

  @font-face {
    font-family: 'Peralta';
    src: url('../fonts/Peralta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Swanky';
    src: url('../fonts/FontdinerSwanky.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .font-peralta {
    font-family: 'Peralta', sans-serif;
  }

  .font-pressstart {
    font-family: 'PressStart2P', sans-serif;
  }

  .font-swanky {
    font-family: 'Swanky', sans-serif;
  }

  .zentriert {
    text-align: center;
  }

  /* Embla Container: 75% der Viewport-Breite + zentriert */
  .embla {
    width: 75vw;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
    gap: 20px; /* Abstand zwischen Slides */

  }
  
  .embla__slide {
    flex: 0 0 40%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 0;
  }

  .embla__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .embla__slide img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
    display: block;
    border-radius: 15px;
  }

  .embla__slide.is-selected {
    /*filter: brightness(1.2); */
    border: 6px solid #f564a3;
    border-radius: 20px;
  }

  .embla__slide:first-of-type {
    margin-left: 20px;
  }
  
  .embla__slide.is-clone:first-of-type {
    margin-left: 20px;
  } 

  .slide-caption {
    display: none
  }

  .display-nothing {
    display: none;
  }

  .blue_background {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #56d2e0, #0180ba);
  }

  .rr_background {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom,#ffcde1, #ffdb79);
  }

  .logo_background {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('../img/RetroRush_leer.png');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  }

  .caption-display {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 3.5vw;
    color: #f564a3;
    text-shadow:
      -2px -2px 0 #ffdb79,
      2px -2px 0 #ffdb79,
      -2px  2px 0 #ffdb79,
      2px  2px 0 #ffdb79;
    font-weight: bold; /* optional für stärkeren Effekt */

  }

  .rr_button {
    background-color: #f564a3;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  .rr_button:hover { 
    background-color: #56d2e0;
  }

  .rr_button.zentriert {
    display: block;
    margin: 0 auto;
  }

  .user-intrface {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NEU: Nur auf das Label mit der Checkbox anwenden */
.rr_button label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

  .ui-selected {
    background-color: #56d2e0;
  }


  .disclaimer {
    padding: 1em;
    background: #f9f9f9;
    color: #333;
    font-family: sans-serif;
    max-width: 600px;
    margin: 1em auto;
    border-radius: 8px;
    border: 5px solid #f564a3;       
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .highlight-text {
    color: #f564a3;
    text-shadow:
      -2px -2px 0 #ffdb79,
      2px -2px 0 #ffdb79,
      -2px  2px 0 #ffdb79,
      2px  2px 0 #ffdb79;
    font-weight: bold; /* optional für stärkeren Effekt */
  }

  .popup {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fe5a5d;
  color: white;
  padding: 1em 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  z-index: 1000;
}

.splashscreen {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background-color: #181818;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.RR_logo_img_centered {
  width: 40vw;
  height: auto;
  max-height: 100vh;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.RR_logo_img_right {
  width: 40vw;
  height: auto;
  max-height: 100vh;

  display: block;
  margin-left: auto;
  margin-right: 0;
}

